[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dhaltmayer
[access "refs/for/refs/*"]
	read = group user/dhaltmayer
	push = group user/dhaltmayer
	label-Code-Review = -2..+2 group user/dhaltmayer
	label-Verified = -1..+1 group user/dhaltmayer
	rebase = group user/dhaltmayer
	removeReviewer = group user/dhaltmayer
	submit = group user/dhaltmayer
[access "refs/heads/*"]
	read = group user/dhaltmayer
	create = group user/dhaltmayer
	push = +force group user/dhaltmayer
	pushMerge = group user/dhaltmayer
[access "refs/tags/*"]
	push = +force group user/dhaltmayer
	pushTag = group user/dhaltmayer
	pushSignedTag = group user/dhaltmayer
